html {
    margin-top: 65px;
    background-color: rgb(247, 243, 231);
    font-size: 14px;
    min-width: 1400px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
}

.nav-bar {
    background-color: rgb(30, 85, 92);
    width: 100%;
    height: 14px;
    padding: 15px 0px 15px 0px;
    margin: 0;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1;
}

.nav-bar-session {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.nav-bar-logged-out-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.logged-in-links {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(247, 243, 231);
    font-size: 14px;
    text-decoration: none;
}

.logged-in-links:hover {
    color: rgb(254, 238, 187);
}

.logged-out-links {
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(247, 243, 231);
    font-size: 14px;
    text-decoration: none;
    margin-right: 45px;
}

.logged-out-links:hover {
    color: rgb(254, 238, 187);
}

#home-link {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(247, 243, 231);
    font-size: 30px;
    text-decoration: none;
}

#create-bill-link {
    margin-right: 45px;
}

#bills-link {
    margin-right: 45px;
}

#friends-link {
    margin-right: 45px;
}

/* #login-btn {
    margin-right: 45px;
} */


/* #signup-btn {

} */

#demo-btn {
    background-color: rgb(43, 123, 133);
    color: rgb(247, 243, 231);
    /* border: 1px solid rgba(247, 243, 231, 0.408); */
    border: none;
    border-radius: 4px;
    font-size: 13px;
    padding: 4px 8px 4px 8px;
}

.nav-search-div {
    position: fixed;
    top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
