* {
    color: rgb(58, 46, 57)
}

#modal-content {
    position: absolute;
    display: flex;
    border-radius: 3px;
    height: 250px;
    width: 500px;
    flex-direction: column;
    justify-content: center;
    background-color: #F5E4D0;
}

#edit-bill-title {
    padding-left: 10px;
    margin-bottom: 10px;
    background-color: rgb(237, 177, 131);
}

.edit-bill-labels-inputs-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;

}

.edit-bill-labels-inputs-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F5E4D0;
}

#edit-bill-label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: space-between;
    margin-top: 5px;
    font-weight: 600;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
}

#edit-bill-amount {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: space-between;
    margin-top: 5px;
    font-weight: 600;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
}

#edit-bill-users {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    justify-content: space-between;
    margin-top: 5px;
    font-weight: 600;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
}

.edit-bill-submit-cancel-btns {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    cursor: pointer;
}

#edit-bill-submit-btn {
    color: white;
    background-color: rgb(30, 85, 92);
    border: transparent;
    border-radius: 3px;
    margin-right: 3px;
    font-size: 13px;
    cursor: pointer;
}

#edit-bill-remove-btn {
    color: rgb(241, 81, 82);
    background-color: white;
    border: transparent;
    border-radius: 3px;
    margin-right: 3px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

#edit-bill-remove-btn:hover {
    opacity: .7;
}

#edit-bill-submit-btn:hover {
    opacity: .7;
}

#edit-bill-cancel-btn {
    color: white;
    background-color: rgb(241, 81, 82);
    border: transparent;
    border-radius: 3px;
    font-size: 13px;
    cursor: pointer;
}

#edit-bill-cancel-btn:hover {
    opacity: .7;
}

#edit-bill-btn {
    color: white;
    background-color: rgb(96 77 79);
    border: transparent;
    border-radius: 3px;
    margin-right: 3px;
    font-size: 13px;
    height: 25px;
    width: 65px;
    cursor: pointer;
    position: relative;
    bottom: 6px;
    left: 444px;
}

#edit-bill-btn:hover {
    opacity: .7;
}

.edit-bill-input {
    width: 300px;
    height: 30px;
    border: none;
    margin: 5px 0;
    padding-left: 5px;
    display: flex;
    color: gray;
}
