.bill-modal {
    margin: 50px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.bill-form {
    /* width: 360px; */
    /* height: 350px; */
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: center; */
    background-color: rgb(255, 255, 255);
    /* margin-top: 30px; */
    margin-bottom: 60px;
    border-radius: 3px;
}

.bill-header-div {
    display: flex;
    background-color: #36d48e;
    width: 360px;
    height: 2.5rem;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    position: relative;
    align-items: center;
}

#bill-header {
    font-size: 20px;
    color: white;
    margin-left: 10px;
}

.bill-receipt-inputs-container {
    display: flex;
    align-items: center;
    padding: 10px 40px;
}

#bill-receipt-icon {
    display: flex;
    align-items: center;
    color: #132a3a;
}

.bill-inputs-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-left: 15px;
    /* align-items: center; */

}

.bill-input {
    /* width: 300px; */
    height: 30px;
    border: none;
    margin: 5px 0;
    padding-left: 5px;
    display: flex;
    color: gray;
    border-bottom: 1px dashed;
    outline: none;
}

#edit-bill-amount {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: space-between;
    margin-top: 5px;
    font-weight: 600;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
}

.bill-with-users-container {
    display: flex;
    align-items: center;
}

#bill-with-text {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    justify-content: space-between;
    margin: 10px;
    font-weight: bold;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
}

.bill-users-ul-div {
    display: flex;
    flex-direction: row;
}

.bill-users-ul {
    display: flex;
    padding: 0;
}

.edit-bill-submit-cancel-btns {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    cursor: pointer;
}

#edit-bill-submit-btn {
    color: white;
    background-color: rgb(30, 85, 92);
    border: transparent;
    border-radius: 3px;
    margin-right: 3px;
    font-size: 13px;
    cursor: pointer;
}

#bill-delete-btn {
    color: rgb(169, 169, 169);
    background-color: white;
    border: transparent;
    border-radius: 3px;
    margin-right: 3px;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
}

#edit-bill-remove-btn:hover {
    opacity: .7;
}

#edit-bill-submit-btn:hover {
    opacity: .7;
}

#edit-bill-cancel-btn {
    color: white;
    background-color: rgb(241, 81, 82);
    border: transparent;
    border-radius: 3px;
    font-size: 13px;
    cursor: pointer;
}

#edit-bill-cancel-btn:hover {
    opacity: .7;
}

#edit-bill-btn {
    color: white;
    background-color: #204660;
    border: transparent;
    border-radius: 3px;
    margin-right: 3px;
    margin-top: 5px;
    font-size: 13px;
    height: 25px;
    width: 90px;
    cursor: pointer;
    /* position: relative; */
    bottom: 6px;
    left: 444px;
}

#edit-bill-btn:hover {
    opacity: .7;
}
