.bill-modal {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.bill-form {
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
}

.bill-header-div {
    display: flex;
    background-color: #36d48e;
    width: 100%;
    height: 2.5rem;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    position: relative;
    justify-content: space-between;
    align-items: center;
}

.bill-header {
    font-size: 20px;
    color: white;
    margin: 0 10px;
}

#bill-x-btn {
    cursor: pointer;
}

.bill-receipt-inputs-container {
    display: flex;
    align-items: center;
    padding: 10px 40px;
}

#bill-receipt-icon {
    display: flex;
    align-items: center;
    color: #132a3a;
}

.bill-inputs-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-left: 15px;
    /* align-items: center; */

}

.bill-input {
    /* width: 300px; */
    height: 30px;
    border: none;
    margin: 5px 0;
    padding-left: 5px;
    display: flex;
    color: gray;
    border-bottom: 1px dashed;
    outline: none;
}

/* #bill-amount {
} */

#edit-bill-amount {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: space-between;
    margin-top: 5px;
    font-weight: 600;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
}

.bill-with-users-container {
    display: flex;
    align-items: center;
    margin: 20px;
}

#bill-with-text {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    justify-content: space-between;
    margin: 10px 10px 10px 0;
    font-weight: bold;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
}

.bill-users-ul-div {
    display: flex;
    flex-direction: row;
}

.bill-users-ul {
    display: flex;
    padding: 0;
}

.bill-btns-container {
    display: flex;
    flex-direction: row;
    margin: 20px 20px;
    justify-content: flex-end;
}

.bill-btns {
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
}

#bill-save-btn {
    color: white;
    background-color: #204660;
    border: transparent;
    font-size: 13px;
    cursor: pointer;
}

#bill-delete-btn {
    cursor: pointer;
    margin-right: 5px;
    background-color: rgb(211, 211, 211);
}

#edit-bill-btn {
    color: white;
    background-color: #204660;
    border: transparent;
    border-radius: 3px;
    margin-right: 3px;
    margin-top: 5px;
    font-size: 13px;
    height: 25px;
    width: 90px;
    cursor: pointer;
    bottom: 6px;
    left: 444px;
}
