#delete-comment-btn {
    color: rgb(241, 81, 82);
    background-color: transparent;
    border: none;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

#delete-comment-btn:hover {
    opacity: .7;
}
