.modal-content {
    position: absolute;
    display: flex;
    border-radius: 3px;
    background-color: white;
    height: 140px;
    width: 300px;
    flex-direction: column;
    justify-content: center;
    /* z-index: 10; */
}

.add-cmt-title {
    /* padding-left: 10px; */
    margin-bottom: 10px;
    background-color: rgb(237, 177, 131);
    display:flex;
    justify-content: center;
}

/* .add-cmt-content-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
} */

.add-cmt-submit-cancel-btns-div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 10px;
    cursor: pointer;
}

.add-cmt-submit-btn {
    color: white;
    background-color: rgb(30, 85, 92);
    border: 0px solid transparent;
    border-radius: 3px;
    font-size: 12px;
    margin-right: 3px;
    cursor: pointer;
    padding: 5px 8px;
}

.add-cmt-submit-btn:hover {
    opacity: .7;
}

.add-cmt-cancel-btn {
    color: white;
    background-color: rgb(241, 81, 82);
    border: transparent;
    border-radius: 3px;
    font-size: 12px;
    cursor: pointer;
}

.add-cmt-cancel-btn:hover {
    opacity: .7;
}

#add-comment-btn {
    color: white;
    background-color: rgb(30, 85, 92);
    border: 0px solid transparent;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    font-size: 13px;
    margin-left: 40px;
    min-width: 100%;
    height: 35px;
    position: relative;
    right: 40px;
    cursor: pointer;
}

#add-comment-btn:hover {
    opacity: .7;
}

.comment-textarea {
    height: 40px;
    width: 230px;
    padding: 7px;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 5px;
    resize: none;
    -webkit-appearance: none;
    transition: box-shadow 0.5s, border 0.5s;
}

.comment-textarea:focus {
    outline:none;
    box-shadow: 0px 0px 2px 1px #4aa4e0a8;
    border: 1px solid #4aa4e0a8;
}

.edit-comment-textarea {
    height: 40px;
    width: 214px;
    padding: 7px;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 5px;
    resize: none;
    -webkit-appearance: none;
    transition: box-shadow 0.5s, border 0.5s;
}

.edit-comment-textarea:focus {
    outline:none;
    box-shadow: 0px 0px 2px 1px #4aa4e0a8;
    border: 1px solid #4aa4e0a8;
}
