.page-body {
    margin: 0 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.create-bill-form {
    width: 360px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    margin-top: 30px;
    margin-bottom: 60px;
    border-radius: 3px;

}

.create-bill-header-div {
    margin-bottom: 10px;
    display: flex;
    background-color: #36d48e;
    width: 360px;
    height: 2.5rem;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    position: relative;
    align-items: center;
    top: -36px;
}

#create-bill-header {
    font-size: 20px;
    color: white;
    margin-left: 5px
}

#create-bill-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input.create-bill-input {
    width: 300px;
    height: 30px;
    border: none;
    margin: 5px 0;
    padding-left: 5px;
    display: flex;
    color: gray;
}

label.create-bill-labels {
    margin-top: 5px;
    font-weight: 600;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
}

.create-bill-btns-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.create-bill-btns {
    height: 35px;
    color: white;
    font-weight: 600;
    margin: 5px 0;
    cursor: pointer;
    border-radius: 3px;
}

#create-cancel {
    background: rgb(241, 81, 82);
    border: none;
    text-decoration: none;
    width: 100px;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    right: 5px;
}

#create-cancel:hover {
    opacity: .7;
}

#create-bill-submit {
    margin-right: 10px;
    background-color: rgb(96 77 79);
    border: none;
    width: 100px;
}

#create-bill-submit:hover {
    opacity: .7;
}

.create-bill-errors-div {
    display: flex;
    justify-content: center;
}

.create-bill-errors-ul {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 0px;
}

.create-bill-errors-li {
    color: rgb(241, 81, 82);
}
