.useroverview-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    align-content: center;
  }

  div#useroverview-ctnr-one {
    display: flex;
    flex-direction: row;
  }

  div#user-details-useroverview {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: 2rem;
    position: relative;
    bottom: 2rem;
  }

  div#useroverview-ctnr-one {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
  }

  img#profile-img-user-overview {
    width: 8rem;
  }

  p.user-overview-label {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    color: dimgrey;
    margin-top: 1rem;
  }

  p.user-detail-useroverview {
    font-size: 18px;
    font-weight: 600;
  }

  .unfriend-btn {
    background: #204660;
    border: none;
    width: 100px;
    height: 2rem;
    color: white;
    font-weight: 600;
    margin: 1rem 0;
    cursor: pointer;
    border-radius: 3px;
  }

  .submit-add-friend {
    margin-right: 10px;
    background-color: #36d48e;
    border: none;
    width: 100px;
    height: 2rem;
    color: white;
    font-weight: 600;
    margin: 1rem;
    cursor: pointer;
    border-radius: 3px;
  }

.friend-name {
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 32px;
    -webkit-font-smoothing: antialiased;
}

.friends-label {
    margin-bottom: 3%;
    font-size: 18px;
}

div#useroverview-details-below {
  display: flex;
  flex-direction: row;
}

.useroverview-container {
  display: flex;
  flex-direction: column;
}


div#user-profile-header-cntr {
  width: 100%;
  background: #10d48e;
  height: 2.5rem;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  position: relative;
  bottom: 3rem;
  color: white;
  font-size: 20px;
  display: flex;
  align-items: center;
}

div#user-profile-header {
  color: white;
  margin-left: 10px;
}
