
div#bills-side-bar {
    width: 203px;
    height: 357px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: #f5e5d0;
    position: absolute;
    /* left: 720px; */
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

#friends-label {
    background-color: #edb183;
    width: 193px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    padding: 5px 0px 5px 10px;
    font-size: 15px;
    font-weight: bold;
}

.friend-a-tag {
    text-decoration: none;
}

.friend-li {
    /* text-decoration: none; */
    font-size: 15px;
    line-height: 2;
}

.friend-li:hover {
    opacity: .7;
}
