html {
    overflow-y: scroll;
  }

div#bills-side-bar {
    width: 203px;
    height: 357px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: #f5e5d0;
    position: absolute;
    /* left: 720px; */
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-right: 10px;
}

#friends-label {
    background-color: #edb183;
    width: 193px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    padding: 5px 0px 5px 10px;
    font-size: 15px;
    font-weight: bold;
}

.friend-a-tag {
    text-decoration: none;
}

#main-div {
    display: flex;
    justify-content: center;
  }

.bills-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 550px;
    padding: 20px 10px;
    border-bottom: 1px solid rgb(200, 200, 200);
    background-color: rgb(238 238 238);

}

.bills-page {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(200, 200, 200);
    margin-left: 30px;
}

#bills-h1 {
    font-size: 25px;
}

.errors-p {
    font-size: 11px;
    color: #b10a0a;
}

.bill-errors-p {
    font-size: 11px;
    color: #b10a0a;
    text-align: center;
}
