div#login-html-body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    min-width: 100%;
    padding: 100px 0;
}

#video-header {
    opacity: 1;
    transition: .4s .2s;
    z-index: -1;
    position: fixed;
    right: 0;
    bottom: 0;
    top: 22px;
    min-width: 100%;
    min-height: 100%;
}

#login-form {
    background: #ffffff59;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 30px
}

.login-input {
    margin: 0 5px;
    height: 35px;
    width: 306px;
    padding-left: 5px;
    border-radius: 3px;
    border: none;
    margin-bottom: 20px;
}

.login-label {
    margin-left: 10px;
    font-weight: 600;
    font-size: 16px;
}


div#login-auth-container {
    display: flex;
    flex-direction: column;
}

h2.login-title-header {
    font-size: 125px;
    color: white;
    text-shadow: 1px 1px 15px #0000004a;
    margin-right: 40px;
}

h2#login-title-splitzy {
    font-size: 125px;
    color: #36d48e;
    text-shadow: 1px 1px 15px #0000004a;
}

div#login-btns-container {
    display: flex;
    flex-direction: column;
}

#login-btn {
    display: flex;
    justify-content: center;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: #36d48e;
    color: white;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 8px;
    padding: 8px 130px;
}

#login-btn:hover {
    border: 1px solid white;
}

#demo-btn {
    display: flex;
    justify-content: center;
    border: 1px solid transparent;
    border-radius: 5px;
    color: #10d48e;
    background-color: white;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 8px;
    padding: 8px 130px;
}

#demo-btn:hover {
    border: 1px solid #10d48e;
}

#or-text-container {
    display: flex;
    justify-content: center;
    margin: 8px 5px 12px 5px;
}

#already-have-acc-text-container {
    padding-top: 20px;
    display: flex;
    align-items: center;
}

#already-have-acc-text {
    display: flex;
    margin-right: 6px;
}

#sign-up-link {
    display: flex;
    color: white;
    font-weight: bold;
}
