div#login-html-body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    bottom: -105px;
    height: 700px;
    min-width: 100%;
}

#video-header {
    min-width: 1080px;
    opacity: 1;
    transition: .4s .2s;
    width: 100%;
    z-index: -1;
}

#login-form {
    width: 583px;
    height: 200px;
    background: #f7f3e7c2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 90px;
    border-radius: 5px;
}

.login-input {
    margin: 0 5px;
    height: 20px;
    width: 150px;
    padding-left: 5px;
}

.login-label {
    margin-left: 10px;
    font-weight: 600;
}

#login-form-btn {
    height: 45px;
    width: 78.25%;
    background: #9fd356;
    border: none;
    position: relative;
    top: 21px;
    color: white;
    font-weight: 600;
    font-size: 18px;
    border-radius: 2px;
}

div#login-auth-container {
    display: flex;
    flex-direction: row;
}

h2#login-title-header {
    position: absolute;
    font-size: 100px;
    bottom: 208px;
    color: white;
}
