.signup-form-div {
    display: flex;
    justify-content: center
}

.signup-form-inner-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    background-color: rgba(237, 177, 131, 0.231);
    width: 600px;
    border-radius: 5px;
}

.signup-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    line-height: 1.45;
    margin-bottom: 30px;
}

.signup-form-labels-inputs-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.signup-form-labels-inputs-div {
    display: flex;
    flex-direction: column;
}

.signup-form-labels-inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 4px;
    padding-bottom: 4px;
}

#signup-form-heading {
    background-color: rgb(237, 177, 131);
    margin-top: 20px;
    margin-bottom: 20px;
    width: 600px;
    text-align: center;
}

.signup-form-labels {
    display: flex;
    align-items: center;
    font-size: 15px;
}

.signup-form-inputs {
    display: flex;
    align-items: center;
    width: 60%;
    padding: 4px
}

.signup-form-errors-div {
    display: flex;
    justify-content: center;
}

.signup-form-errors-li {
    margin-top: 10px;
    margin-bottom: 5px;
    color: red;
}

.signup-form-btn-div {
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

#signup-form-btn {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    color: white;
    font-weight: bold;
    background-color: #9fd356;
    width: 100%;
    padding: 5px 10px 5px 10px;
    border: none;
    border-radius: 4px;
    padding: 10px;
}

#signup-form-btn:hover {
    opacity: .7;
}
