.signup-form-div {
    display: flex;
    justify-content: center
}

.signup-form-inner-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    background-color: #a0a0a0;
    width: 600px;
    border-radius: 5px;
}

.signup-form {
    display: flex;
    flex-direction: column;
    line-height: 1.45;
    margin-bottom: 30px;
    width: 347px;
}

.signup-form-labels-inputs-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.signup-form-labels-inputs-div {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.signup-form-labels-inputs {
    display: flex;
    flex-direction: row;
    padding: 4px 0;
    justify-content: flex-end;
}

#signup-form-heading {
    padding: 30px
}

.signup-form-labels {
    display: flex;
    align-items: center;
    font-size: 15px;
    margin-right: 6px;
}

.signup-form-inputs {
    display: flex;
    align-items: center;
    width: 60%;
    padding: 4px;
    border-radius: 3px;
    border: none;
}

.signup-form-errors-div {
    display: flex;
    justify-content: center;
}

.signup-form-errors-li {
    margin-top: 10px;
    margin-bottom: 5px;
    color: red;
}

#signup-form-btn {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    color: white;
    font-weight: bold;
    background-color: #36d48e;
    width: 100%;
    padding: 5px 10px 5px 10px;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
}

#signup-form-btn:hover {
    border: 1px solid white;
}

#sign-up-modal-link {
    background-color: transparent;
    color: white;
    cursor: pointer;
}
