.hidden {
    visibility: hidden;
}

.nav-search-div {
    position: relative;
}

#nav-search {
    display: flex;
    padding: 4px 5px;
    background-color: #ffffff;
    border-radius: 2px;
    border: #e6e6e6 1px solid;
    position: relative;
    margin: 5px;
    top: 6px;
  }

.username-search-result {
    background-color: #ffffff;
    /* padding: 10px; */
    padding-left: 10px;


}

.username-search-result:hover {
    background-color: #28efa8;
    color: rgb(247, 243, 231);
}

.username-result {
    color: #3a2e39;
    line-height: 3;
    text-decoration: none;

    width: 100%;
    height: 100%;
}

.username-result:hover {
    color: rgb(247, 243, 231);
}
