#bill-modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #bill-modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.619);
}

#bill-modal-content {
  z-index: 10;
}

  #bill-modal-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 15px;
  }

  #modal-container {
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .modal-content {
    z-index: 3;
  }
