#modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
  }

  #modal-content {
    position: absolute;
    display: flex;
    border-radius: 3px;
    /* background-color: white; */
    height: 450px;
    width: 700px;
    flex-direction: column;
    justify-content: center;
    z-index: 10;
  }

  #modal-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 15px;
  }


  #login-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 200px;
    justify-content: space-evenly;
  }

  .auth-input {
    width: 380px;
    height: 34px;
    margin: 5px 0;
    padding-left: 10px;
  }

  .login-btn {
    display: flex;
    height: 45px;
    width: 396px;
    position: relative;
    top: 10px;
    align-items: center;
    justify-content: center;
    background: black;
    color: white;
    font-weight: 600;
    font-size: 15px;
    border: none;
    cursor: pointer;
  }

  .input-label {
    margin-right: 0px;
  }

  #modal-container {
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  #login-text {
    font-family: sans-serif;
    margin-bottom: 10px;
  }

  #login-text-container {
    display: flex;
    position: relative;
    bottom: 40px;
    flex-direction: column;
    align-items: center;
    z-index: 0;
  }

  #login-text-desc {
    color: black;
    position: relative;
    bottom: 5px;
  }

  .modal-content {
    z-index: 3;
  }
