.userbills-container {
    display: flex;
    justify-content: center;
}

.info-comments-div {
    display: flex;
}

.userbills-info-div {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(58, 46, 57);
    margin-right: 31px;
    background-color: rgba(237, 177, 131, 0.231);
    min-width: 600px;
    margin-left: 152px;
    border-radius: 4px;
}

#userbills-label {
    font-size: 22px;
    background-color: rgb(237, 177, 131);
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    padding: 5px 0px 5px 10px;
    margin-bottom: 4px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

#userbills-amount {
    font-weight: bold;
    display: flex;
    font-size: 80px;
    background: #ffffff;
    width: 566px;
    border-radius: 9px;
    color: green;
    height: 165px;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 18px;
    top: 12px;
}

#userbills-time {
    font-size: 15px;
    position: relative;
    top: 116px;
    left: 370px;
    color: #1e555c;
}

.userbills-users-div {
    display: flex;

}

/* .userbills-users {

} */

.associated-users {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    -webkit-font-smoothing: antialiased;
    position: relative;
    bottom: 50px;
    left: 18px;
    width: 203px;
}

.comments-div {
    display: flex;
    flex-direction: column;
}

#delete-bill-btn {
    background-color: transparent;
    border: transparent;
    border-radius: 3px;
    font-size: 13px;
    height: 25px;
    width: 65px;
    cursor: pointer;
    /* position: relative; */
    /* bottom: 6px; */
    /* left: 448px; */
}

i.fa-solid.fa-x {
    color: rgb(241, 81, 82);
    font-weight: 900;
  }

#delete-bill-btn:hover {
    opacity: .7;
}

#split-header {
    margin-bottom: 5px;
    font-size: 18px;
    color: #1e555c;
}

.userBill-name {
    color: #1e555c;
}
