
.userbills-container {
    display: flex;
    justify-content: center;
}

.info-comments-div {
    display: flex;
}

.userbills-info-div {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(58, 46, 57);
    margin-right: 20px;
    background-color: rgba(237, 177, 131, 0.231);
    padding: 10px;
    min-width: 600px;
    margin-left: 130px;
}

#userbills-label {
    font-size: 15px;
    background-color: rgb(237, 177, 131);
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    padding: 2px 0px 2px 5px;
    margin-bottom: 4px;
}

#userbills-amount {
    font-weight: bold;
    display: flex;
    font-size: 80px;
    background: #f7f3e7;
    width: 596px;
    border-radius: 9px;
    color: green;
    height: 165px;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 2px;
    top: 6px;
}

#userbills-time {
    font-size: 12px;
    position: relative;
    top: 117px;
    left: 429px;
    color: #edb183;
}

.userbills-users-div {
    display: flex;

}

/* .userbills-users {

} */

.associated-users {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    -webkit-font-smoothing: antialiased;
    position: relative;
    bottom: 61px;
    left: 2px;
    width: 203px;
}

.comments-div {
    display: flex;
    flex-direction: column;
}

#delete-bill-btn {
    color: white;
    background-color: rgb(241, 81, 82);
    border: transparent;
    border-radius: 3px;
    font-size: 13px;
    height: 25px;
    width: 65px;
    cursor: pointer;
    position: relative;
    left: 465px;
    top: -17px;
}

#delete-bill-btn:hover {
    opacity: .7;
}

#split-header {
    margin-bottom: 5px;
    font-size: 18px;
    color: #d8945f;
}

.userBill-name {
    color: #bf8050;
}
