.about-us-container {
    text-align: center;
}

#splitzy-heading {
    margin-top: 40px;
}

#splitzy-descript {
    margin-top: 30px;
    margin-bottom: 20px;
    line-height: 2;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
}

.about-us-heading-div {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.about-us-heading {
    display: flex;
}

#about-us-heading-first {
    display: flex;
}

#about-us-heading-second {
    display: flex;
    margin-left: 8px;
    color: rgb(43, 123, 133);
}

.creators-div {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

.creator-names {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.creator-photos {
    height: 250px;
    width: 250px;
    object-fit: cover;
    border-radius: 50%;
}

.creator-photos:hover {
    filter: grayscale(100%);
}

.social-icons {
    height: 25px;
    width: 25px;
    opacity: .9;
    margin-bottom: 60px;
}

.social-icons:hover {
    opacity: .7;
}
