#splitzy-heading {
    margin-top: 40px;
}

.splitzy-descript-div {
    display: flex;
    justify-content: center;
}

#splitzy-descript {
    margin-top: 30px;
    margin-bottom: 20px;
    line-height: 1.4;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
}

.about-us-heading-div {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.about-us-heading {
    display: flex;
}

#about-us-heading-first {
    display: flex;
}

#about-us-heading-second {
    display: flex;
    margin-left: 8px;
    color: #36d48e;
}

.creators-div {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

body {
    color: #515151;
}

.creator-photos {
    height: 180px;
    width: 180px;
    margin: 20px 30px 0 0;
    object-fit: cover;
    border-radius: 50%;
    filter: grayscale();
}

.creator-photos:hover {
    filter: none;
}

#uki-photo {
    object-fit: cover;
    object-position: top;
}

.creator-names {
    font-size: 20px;
    margin: 10px 0;
}

.creator-titles {
    margin-bottom: 10px;
}

.social-icons {
    height: 25px;
    width: 25px;
    opacity: .9;
    margin-right: 5px;
    /* filter: sepia(90%) saturate(90%) brightness(70%) hue-rotate(90deg); */
}

.social-icons:hover {
    opacity: .7;
}
